{% extends './base.html' %}
{% block content %}
<section class="container mt-4 col-12 mx-auto">
  <div class="container col-sm-12 col-md-4">
    <h3 class="text-center mb-4">Login</h3>
    <form action="" method="post" class="form">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" name="username" placeholder="Username" class="form-control">
      </div>
      <div class="mb-3">
        <input type="password" name="password" placeholder="Password" class="form-control">
      </div>
      <div class="mb-3">
        <button type="submit" class="col-12 btn btn-dark">Login</button>
      </div>
    </form>
    <div class="mb-3">
      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
  </div>
</section>
{% endblock content %}